<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.tlab.trading.dto.AccountDTO" 		alias = "Account" />
		<typeAlias type="com.tlab.trading.dto.PositionDTO" 		alias = "Position" />
		
	</typeAliases>		
		
		
	<mappers>
		<mapper resource="com/tlab/config/mybatis/AccountMapper.xml"/>
		
	</mappers>
 
</configuration>